<!doctype html>
<!-- 
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
==============================================================================-->
<html>

<head lang="en">
    <link rel="icon" type="image/png" href="favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <meta name="keywords" content="neural networks,machine learning,javascript">

    <meta name="author" content="Oliver Widder, based on code from Daniel Smilkov and Shan Carter">
    <title>Deep Neural Network Creator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons" rel="stylesheet"
        type="text/css">
</head>

<body>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 id="datasource-name" class="title">
                    Primary title
                </h1>
                <h2 id="datasource-description" class="subtitle">
                    Primary subtitle
                </h2>
                <a target="_blank" id="datasource-source" href=""></a>
            </div>
        </div>
    </section>

    <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <div class="section">
                <div class="container">
                    <span id="add-button-container"></span>
                    <span id="download-button-container"></span>
                    <span id="chart-button-container"></span>
                    <span id="start-training-button-container"></span>
                    <span id="train-one-step-button-container"></span>
                    <span id="shuffle-data-button-container"></span>
                    <span id="batch-size-slider-container"></span>
                    <span class="notfirst"><span id="percent-train-data-slider-container"></span></span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="section">
                <div class="select">
                    <select id="datasources" class="leftmargin">
                        <option value="./datasets/irisFlower.json">Iris</option>
                        <option value="./datasets/diabetes.json">Diabetes</option>
                        <option value="./datasets/wine-red.json">Wine Quality (red)</option>
                        <option value="./datasets/wine-white.json">Wine Quality (white)</option>
                    </select>
                </div>
            </div>
            <div id="linechart"></div>
            <div id="network-table-container"></div>
        </div>
    </div>

</body>

</html>