<!doctype html>
<!-- 
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
==============================================================================-->
<html>

<head lang="en">
    <link rel="icon" type="image/png" href="favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <meta name="keywords" content="neural networks,machine learning,javascript">

    <meta name="author" content="Oliver Widder, based on code from Daniel Smilkov and Shan Carter">
    <title>Deep Neuronal Network Creator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons" rel="stylesheet"
        type="text/css">
    <script src="lib.js"></script>
</head>

<body>
    <!-- GitHub link -->
    <a class="github-link" href="https://github.com/owidder/playground" title="Source on GitHub" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60.5 60.5"
            width="60" height="60">
            <polygon class="bg" points="60.5,60.5 0,0 60.5,0 " />
            <path class="icon"
                d="M43.1,5.8c-6.6,0-12,5.4-12,12c0,5.3,3.4,9.8,8.2,11.4c0.6,0.1,0.8-0.3,0.8-0.6c0-0.3,0-1,0-2c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8c-1.1-0.7,0.1-0.7,0.1-0.7c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1c0.1-0.8,0.4-1.3,0.8-1.6c-2.7-0.3-5.5-1.3-5.5-5.9c0-1.3,0.5-2.4,1.2-3.2c-0.1-0.3-0.5-1.5,0.1-3.2c0,0,1-0.3,3.3,1.2c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4c2.3-1.6,3.3-1.2,3.3-1.2c0.7,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6c4.8-1.6,8.2-6.1,8.2-11.4C55.1,11.2,49.7,5.8,43.1,5.8z" />
        </svg>
    </a>
    <!-- Header -->
    <header>
        <div id="version">
            <%= version %>
        </div>
        <div class="l--page line1" id="datasource-name">DNN Creator (no data loaded)</div>
        <div class="line2" id="datasource-description"></div>
        <a target="_blank" class="line3" id="datasource-source" href=""></a>
    </header>

    <!-- Top Controls -->
    <div id="top-controls">
        <div class="firstline-top-controls">
            <div class="firstline-control normal">
                <div class="select">
                    <select id="datasources" class="leftmargin">
                        <option value="./datasets/irisFlower.json">Iris</option>
                        <option value="./datasets/diabetes.json">Diabetes</option>
                    </select>
                </div>
            </div>
            <div class="firstline-control url-input large">
                <input id="input-dataset-url" placeholder="Load URL">
            </div>
            <span id="goto-dataset" class="material-icons normal">arrow_forward</span>
        </div>
        <div class="container l--page">
            <div class="timeline-controls">
                <button class="mdl-button mdl-js-button mdl-button--icon ui-resetButton" id="add-button"
                    title="Add Bookmark">
                    <i class="material-icons">post_add</i>
                </button>

                <button class="mdl-button mdl-js-button mdl-button--icon ui-resetButton" id="download-button"
                    title="Download model">
                    <i class="material-icons">get_app</i>
                </button>

                <button class="mdl-button mdl-js-button mdl-button--icon ui-resetButton" id="graph-button"
                    title="Show model performance graphs">
                    <i class="material-icons">assessment</i>
                </button>

                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored ui-playButton"
                    id="play-pause-button" title="Run/Pause">
                    <i class="material-icons">play_arrow</i>
                    <i class="material-icons">pause</i>
                </button>

                <button class="mdl-button mdl-js-button mdl-button--icon ui-stepButton ui-button"
                    id="next-step-tf-button" title="Step">
                    <i class="material-icons">skip_next</i>
                </button>
            </div>
            <div class="metrics">
                <div class="output-stats ui-percTrainData">
                    <span>Test loss</span>
                    <span class="value" id="loss-test"></span>
                </div>
                <div class="output-stats train">
                    <span>Train loss</span>
                    <span class="value" id="loss-train"></span>
                </div>
                <div class="control">
                    <span class="label">Epoch</span>
                    <span class="value" id="iter-number"></span>
                </div>
                </div>
            <div id="linechart"></div>
        </div>
    </div>

    <div id="main-part" class="l--page">

        <div class="left-side">
            <div class="ui-batchSize">
                <label for="batchSize">Batch size:&nbsp;&nbsp;<span class="value">1</span></label>
                <p class="slider">
                <div class="mdl-slider__container"><input class="mdl-slider mdl-js-slider is-lowest-value"
                        type="range" id="batchSize" min="1" max="30" step="1" data-upgraded=",MaterialSlider">
                </div>
                </p>
            </div>
            <div class="ui-train-test-ratio">
                <label for="train-test-ratio">Train / test ratio: <span class="ratio-value">10%</span></label>
                <div for="train-test-ratio"># Train: <span class="train-value">10</span></div>
                <div for="train-test-ratio"># Test: <span class="test-value">10</span></div>
                <p class="slider">
                <div class="mdl-slider__container"><input class="mdl-slider mdl-js-slider is-lowest-value"
                        type="range" id="trainTestRatio" min="10" max="90" step="10" data-upgraded=",MaterialSlider">
                </div>
                </p>
            </div>
            <div id="bookmarks">
                <div id="bookmark-hovercard">
                    <p><div class="network-shape"></div></p>
                    <p><div class="batchSize"></div></p>
                    <p><div class="percTrainData"></div></p>
                </div>
            </div>
        </div>

        <!-- Features Column -->
        <div class="column features">
            <div>
                <h4 class="num-layers-control">
                    <div class="ui-numHiddenLayers">
                    </div>
                    <span id="num-layers"></span> Layers
                </h4>
            </div>
            <div id="network">
                <svg id="svg" width="510" height="450">
                    <defs>
                        <marker id="markerArrow" markerWidth="7" markerHeight="13" refX="1" refY="6" orient="auto"
                            markerUnits="userSpaceOnUse">
                            <path d="M2,11 L7,6 L2,2" />
                        </marker>
                    </defs>
                </svg>
                <!-- Hover card -->
                <div id="hovercard">
                    <div><span class="type">Weight/Bias</span> is <span class="value">0.2</span>.</div>
                </div>
            </div>
        </div>
    </div>

    <article id="article-text">
        <div class="l--body">
          <h2>Welcome to the Deep Neuronal Network Creator</h2>
          <p>The Deep Neural Network Creator is based on (sort of) Googles great <a target="_blank" href="https://playground.tensorflow.org/">Playground</a>.</p>
          <p>What's different?</p>
          <p>
              <ul>
                  <li>The Deep Neurol Network Creator is not only for the purpose of demonstrating how a DNN works. You can use it to create a DNN for yourt own data and try out how well it works</li>
                  <li>It uses the <a target="_blank" href="https://www.tensorflow.org/js">Tensorflor library for JavaScript</a></li>
              </ul>
          </p>
        </div>

        <div class="l--body">
            <h2>Choose a dataset</h2>
            <ul>
                <li>You can use one of the prepared datasets via the select box on the upper left. Currently just <a target="_blank" href="https://www.kaggle.com/rtatman/iris-dataset-json-version">Iris</a> and 
                <a target="_blank" href="https://www.kaggle.com/uciml/pima-indians-diabetes-database">Diabetes</a>. More to come</li>
                <li>Or you use your own dataset. Make it available via a public URL. Type the URL in the input field on the upper right and click on the right arrow next to it.</li>
                <li>Dataset format:</li>
                <code><pre>
                    [
                        {
                            name: string;
                            description?: string; 
                            originalSourceUrl?: string;
                            data: [
                                {
                                    [featureName: string]: number;
                                    label: string;
                                }
                            ]
                        }
                    ]
                </pre></code>
                <li>E.g. this is the Iris dataset in this format: <a target="_blank" href="https://github.com/owidder/playground/blob/master/datasets/irisFlower.json">https://github.com/owidder/playground/blob/master/datasets/irisFlower.json</a></li>
                </ul>
        </div>

        <div class="l--body">
            <h2>Configure the network</h2>
            <p>
                <ul>
                    <li>Choose activation function on each layer</li>
                    <li>Choose batch size</li>
                    <li>Choose the ratio between train and test data points</li>
                    <li>Add one layer by clicking on one of the <i class="material-icons">library_add</i> buttons between two layers</li>
                    <li>Remove one layer by clicking on one of the <i class="material-icons">delete_forever</i> buttons above a layer</li>
                    <li>Add and remove neurons on each layer</li>
                    <li>Move hidden layers to left and right with the <i class="material-icons">arrow_back</i> and <i class="material-icons">arrow_forward</i> buttons over each layer</li>
                </ul>
            </p>
        </div>

        <div class="l--body">
            <h2>Start the fitting</h2>
            <p>
                <li>Press the small <i class="material-icons">skip_next</i> button to run 1 epoch</li>
                <li>Press the big <i class="material-icons">play_arrow</i> button to run epochs until you press the <i class="material-icons">pause</i> button</li>
                <li>Test loss and train loss is shown next to activation select box</li>
            </p>
        </div>

        <div class="l--body">
            <h2>What if you actually like your model?</h2>
            <ul>
                <li>Just press the <i class="material-icons">post_add</i> button to save the trained model in your local browser storage</li>
                <li>The link to the model is named: "test loss / train loss" and shows up underneath the ratio slider</li>
                <li>By clicking on the link the model is loaded and you can train it further. Be aware that the epoch counter next to the play button only shows the number of epochs since the latest loading of the model</li>
                <li>By hovering over one link you can see the configuration of the saved model</li>
                <li><b>New in V2: </b>By clicking <i class="material-icons">assessment</i> you can see train loss and test loss of the current model and all saved models</li>
                <li>With the <i class="material-icons">get_app</i> you can download the current model</li>
            </ul>
        </div>

        <div class="l--body">
            <h2>What's next?</h2>
            <p>Following features are planned for upcomin releases</p>
            <ul>
                <li>V3: Convolutional layers</li>
                <li>V4: Switch between different backends: CPU, WebAssembly, WebGL, WebGPU</li>
            </ul>
            <p>Following features will also come sooner or later</p>
            <ul>
                <li>Regression problems</li>
                <li>More parameters to configure: Learnig rate, regularization, ...</li>
                <li>Upload models</li>
            </ul>
            <p>The following features may come, but who knows</p>
            <ul>
                <li>Run the model with a much bigger dataset on a Python based server (maybe a bit moonshoty)</li>
            </ul>
        </div>
    </article>

</body>

</html>